.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;

    background-color: #2AE881;
}

.buttton.loading {
    background-color: #CB81FF;
}

.button.success {
    background-color: #D4FAE6;
}

.button.error {
    background-color: #FF5F00;
}

.text {
    font-size: 16px;
    text-align: center;
}

.loader {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid white;
    border-right-color: lightblue;
    animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}